/* ㅡㅡㅡㅡㅡ 코드 생성 중 ㅡㅡㅡㅡㅡ */

@media (prefers-color-scheme: dark)
 {
    
    :root {
	  /* 색상 */
           --Dblackcolor: #151515;
           --Dlinecolor: #5d5d5d;
           --bgColor: #202020;

	  /* URL */
           --logoURL: url(https://cdn.discordapp.com/attachments/659060062223990812/685510583717855331/N_nt.png); 

	  /* 기타 설정 */	
           --before: "밤하늘에 늑대별 ";
           --after: "개";
}

header {
    border-bottom: 4px solid #5d5d5d;
    background: #0d0d0d;
}

#board-info {
    background: #151515;
    border-top: 2px solid #5d5d5d;
    border-bottom: 2px solid #5d5d5d;
}

#board-info>h1>a {
    color: #fff;
}

#board-info #viewers-area {
    color: #c7c7c7;
}

#header-top-notice {
    background: #0e0e0e;
}

#header-top-notice strong.notice-badge {
    background: #000;
}

#header-top-notice a {
    color: #fff !important;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    color: #5d5d5d;
}

header>#header-area>#header-search-link {
    color: #5d5d5d;
}

#board-info>a.board-right-menu {
    color: #5d5d5d;
}

.fa-caret-down:before {
    color: #5d5d5d;
}

/* 게시글 목록 */

#article-list>.article-list-row.notice {
    background-color: #000;
}

#article-list>.article-list-row.hot {
    background-color: #0b0b0b !important;
}

#article-list>.article-list-row {
    background: #151515;
}

#article-list>.article-list-row:hover {
    background: #3e3e3e;
}

#article-list>.article-list-row>.item>.list-header, 
#article-list>.article-list-row>.item>.list-thumbnail, 
#article-list>.article-list-row>.item>.list-category, 
#article-list>.article-list-row>.item>.list-title, 
#article-list>.article-list-row>.item>.list-blocked, 
#article-list>.article-list-row>.item>.list-time {
    border-bottom: 1px solid #5d5d5d;
}

.pagination-area {
    background: #151515;
}

#article-list-menu {
    background: #151515;
}

.btn {
	color: #fff !important;
	background-color: #000 !important;
	border-color: #5d5d5d !important;
}

.btn:hover,
.btn:focus {
	color: #000 !important;
	background-color: #fff !important;
}

/* 트게더 페이지 선택자 */
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>span,
.pagination>.active>span:focus {
	background-color: #000;
	border-color: #5d5d5d;
}

.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>li>a:hover,
.pagination>li>span:hover {
	background-color: white;
	border-color: #5d5d5d;
	color: #000;
}

.pagination>li>a,
.pagination>li>a:focus,
.pagination>li>span
.pagination>li>span:focus {
	color: #fff;
	border-color: #5d5d5d;
	background: #303030;
}

#boardSearchForm .form-control {
    background: #303030;
    border-color: #5d5d5d;
}

#article-list #article-list-category {
    background: #303030;
}

#article-list #article-list-category>a {
    background: #303030;
}

#article-list #article-list-category > a.active, #article-list #article-list-category>a:hover {
    background: #303030;
}

.fa-home:before {
    color: #fff;
}

#article-list>.article-list-row>.item>.list-header.v0>span {
    background-color: #151515;
    color: #151515;
}

#article-list>.article-list-row>.item>.list-header.v0> {
    background-color: #151515;
    color: #151515;
}

#article-list>.article-list-row:hover>.item>.list-header.v0>span {
    background: #3e3e3e;
    color: #3e3e3e;
}

#article-list>.article-list-row>.item>.list-header>span {
    background-color: #000;
}

#article-list>.article-list-row>.item>a.list-title {
    color: #fff !important;
}

#article-list>.article-list-row>.item>a.list-title:visited {
    color: #676767 !important;
}

#article-list>.article-list-row>.item>.list-header>strong, 
#article-list>.article-list-row>.item>.list-header>b {
    font-size: 0px;
}

#article-list>.article-list-row>.item>.list-header>strong:after, 
#article-list>.article-list-row>.item>.list-header>b:after {
    font-family: 'fontawesome';
    font-size: 13px;
    color: #efc839;
    content: '\f005';
}

#article-list>.article-list-row.notice>.item>.list-header>strong:after, #article-list>.article-list-row.notice>.item>.list-header>b:after {
    color: #5d5d5d;
}

#article-list>.article-list-row>.item>a.list-title>small.comment-count {
    color: #c7c7c7;
}

#article-list>.article-list-row>.item>a.list-title>.list-writer.logged>span {
    color: #fff;
}

#article-list>.article-list-row>.item>.list-time {
    color: #aaa;
}

/*네비바*/

nav#nav {
    background: #0d0d0d;
}

footer {
    background: #0e0e0e;
}

nav#nav>#nav-upper-shortcut>.dropdown>a {
    color: #fff;
}

nav#nav > .nav-menu-area a {
    color: #fff;
}

nav#nav>.nav-header {
    background: #5d5d5d;
}

nav#nav:after {
    background: #5d5d5d;
}

nav#nav > #nav-upper #noteDropdownContainer a, 
nav#nav > #nav-upper #userDropdownContainer a {
    color: #fff;
}



































}